.card-img-top {

    width: 75%;
    margin: 0 auto;
}



 /* Rodapé */

 .link-white li a {

    color: white;
}

.link-white ul {
    list-style-type: none;
    padding-left: 0;
}


/* Produtos */


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 8px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 8px;
    
}

.fonts {
    font-family: 'Times New Roman', Times, serif !important;
}










